h1 {
  text-align: center;
}

p {
  text-align: center;
}

div {
  text-align: center;
}

navbar {
            position: relative;
            width: 100vw;
            height: 40px;
            background-color: rgb(61, 59, 59);
        }

navbar img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 4px;
            height: 4px;
        }

footer {
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
